In [67]:
!gdown --id 1cXmjqbSok5Q9r6v94iHe4GqGqThNu8dX

/usr/local/lib/python3.7/dist-packages/gdown/cli.py:131: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  category=FutureWarning,
Downloading...
From: https://drive.google.com/uc?id=1cXmjqbSok5Q9r6v94iHe4GqGqThNu8dX
To: /content/star_wars.xlsx
100% 147k/147k [00:00<00:00, 63.6MB/s]

In [68]:
import pandas as pd

In [69]:
df = pd.read_excel('star_wars.xlsx')

In [70]:
df

,RespondentID,Have you seen any of the 6 films in the Star Wars franchise?,Do you consider yourself to be a fan of the Star Wars film franchise?,Which of the following Star Wars films have you seen? Please select all that apply.,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Please rank the Star Wars films in order of preference with 1 being your favorite film in the franchise and 6 being your least favorite film.,...,Unnamed: 28,Which character shot first?,Are you familiar with the Expanded Universe?,Do you consider yourself to be a fan of the Expanded Universe?Œæ,Do you consider yourself to be a fan of the Star Trek franchise?,Gender,Age,Household Income,Education,Location (Census Region)
0,NaN,Response,Response,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,Star Wars: Episode I The Phantom Menace,...,Yoda,Response,Response,Response,Response,Response,Response,Response,Response,Response
1,3.292880e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,3,...,Very favorably,I don't understand this question,Yes,No,No,Male,18-29,NaN,High school degree,South Atlantic
2,3.292880e+09,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Yes,Male,18-29,"$0 - $24,999",Bachelor degree,West South Central
3,3.292765e+09,Yes,No,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,NaN,NaN,NaN,1,...,Unfamiliar (N/A),I don't understand this question,No,NaN,No,Male,18-29,"$0 - $24,999",High school degree,West North Central
4,3.292763e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,5,...,Very favorably,I don't understand this question,No,NaN,Yes,Male,18-29,"$100,000 - $149,999",Some college or Associate degree,West North Central
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1182,3.288389e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,5,...,Very favorably,Han,No,NaN,Yes,Female,18-29,"$0 - $24,999",Some college or Associate degree,East North Central
1183,3.288379e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,4,...,Very favorably,I don't understand this question,No,NaN,Yes,Female,30-44,"$50,000 - $99,999",Bachelor degree,Mountain
1184,3.288375e+09,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,No,Female,30-44,"$50,000 - $99,999",Bachelor degree,Middle Atlantic
1185,3.288373e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,4,...,Very favorably,Han,No,NaN,Yes,Female,45-60,"$100,000 - $149,999",Some college or Associate degree,East North Central
1186,3.288373e+09,Yes,No,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,NaN,NaN,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,6,...,Very unfavorably,I don't understand this question,No,NaN,No,Female,> 60,"$50,000 - $99,999",Graduate degree,Pacific

# Задание 1: Удалить все столбцы после unnamed 14 кроме do you...Star Trek, gender, age, Education, Location

In [71]:
df = df.drop(['Please state whether you view the following characters favorably, unfavorably, or are unfamiliar with him/her.',
       'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19',
       'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23',
       'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27',
       'Unnamed: 28', 'Which character shot first?',
       'Are you familiar with the Expanded Universe?',
       'Do you consider yourself to be a fan of the Expanded Universe?Œæ', 'Household Income'], axis=1)

In [72]:
df

,RespondentID,Have you seen any of the 6 films in the Star Wars franchise?,Do you consider yourself to be a fan of the Star Wars film franchise?,Which of the following Star Wars films have you seen? Please select all that apply.,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Please rank the Star Wars films in order of preference with 1 being your favorite film in the franchise and 6 being your least favorite film.,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Do you consider yourself to be a fan of the Star Trek franchise?,Gender,Age,Education,Location (Census Region)
0,NaN,Response,Response,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,Response,Response,Response,Response,Response
1,3.292880e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,3,2,1,4,5,6,No,Male,18-29,High school degree,South Atlantic
2,3.292880e+09,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes,Male,18-29,Bachelor degree,West South Central
3,3.292765e+09,Yes,No,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,NaN,NaN,NaN,1,2,3,4,5,6,No,Male,18-29,High school degree,West North Central
4,3.292763e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,5,6,1,2,4,3,Yes,Male,18-29,Some college or Associate degree,West North Central
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1182,3.288389e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,5,4,6,3,2,1,Yes,Female,18-29,Some college or Associate degree,East North Central
1183,3.288379e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,4,5,6,2,3,1,Yes,Female,30-44,Bachelor degree,Mountain
1184,3.288375e+09,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,Female,30-44,Bachelor degree,Middle Atlantic
1185,3.288373e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,4,3,6,5,2,1,Yes,Female,45-60,Some college or Associate degree,East North Central
1186,3.288373e+09,Yes,No,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,NaN,NaN,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,6,1,2,3,4,5,No,Female,> 60,Graduate degree,Pacific

In [73]:
#Удаление первой строки с названиями колонок
df = df.drop([0], axis=0)

In [74]:
df

,RespondentID,Have you seen any of the 6 films in the Star Wars franchise?,Do you consider yourself to be a fan of the Star Wars film franchise?,Which of the following Star Wars films have you seen? Please select all that apply.,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Please rank the Star Wars films in order of preference with 1 being your favorite film in the franchise and 6 being your least favorite film.,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Do you consider yourself to be a fan of the Star Trek franchise?,Gender,Age,Education,Location (Census Region)
1,3.292880e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,3,2,1,4,5,6,No,Male,18-29,High school degree,South Atlantic
2,3.292880e+09,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes,Male,18-29,Bachelor degree,West South Central
3,3.292765e+09,Yes,No,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,NaN,NaN,NaN,1,2,3,4,5,6,No,Male,18-29,High school degree,West North Central
4,3.292763e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,5,6,1,2,4,3,Yes,Male,18-29,Some college or Associate degree,West North Central
5,3.292731e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,5,4,6,2,1,3,No,Male,18-29,Some college or Associate degree,West North Central
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1182,3.288389e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,5,4,6,3,2,1,Yes,Female,18-29,Some college or Associate degree,East North Central
1183,3.288379e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,4,5,6,2,3,1,Yes,Female,30-44,Bachelor degree,Mountain
1184,3.288375e+09,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,Female,30-44,Bachelor degree,Middle Atlantic
1185,3.288373e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,4,3,6,5,2,1,Yes,Female,45-60,Some college or Associate degree,East North Central
1186,3.288373e+09,Yes,No,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,NaN,NaN,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,6,1,2,3,4,5,No,Female,> 60,Graduate degree,Pacific

In [75]:
df.isna()

,RespondentID,Have you seen any of the 6 films in the Star Wars franchise?,Do you consider yourself to be a fan of the Star Wars film franchise?,Which of the following Star Wars films have you seen? Please select all that apply.,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Please rank the Star Wars films in order of preference with 1 being your favorite film in the franchise and 6 being your least favorite film.,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Do you consider yourself to be a fan of the Star Trek franchise?,Gender,Age,Education,Location (Census Region)
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,True,True,True,True,True,True,True,True,True,True,True,True,True,False,False,False,False,False
3,False,False,False,False,False,False,True,True,True,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1182,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1183,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1184,False,False,True,True,True,True,True,True,True,True,True,True,True,True,True,False,False,False,False,False
1185,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1186,False,False,False,False,False,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False

In [76]:
df.columns

Index(['RespondentID',
       'Have you seen any of the 6 films in the Star Wars franchise?',
       'Do you consider yourself to be a fan of the Star Wars film franchise?',
       'Which of the following Star Wars films have you seen? Please select all that apply.',
       'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8',
       'Please rank the Star Wars films in order of preference with 1 being your favorite film in the franchise and 6 being your least favorite film.',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14',
       'Do you consider yourself to be a fan of the Star Trek franchise?',
       'Gender', 'Age', 'Education', 'Location (Census Region)'],
      dtype='object')

#Задание 2. Нужно переименовать столбцы. Столбцы 4-9 означают смотрел ли человек 1 часть, 2 и т.д. Столбцы 10-15 оценка каждой части отдельно

In [77]:
df.columns = ('RespondentID',
       'seen any of the 6 films',
       'fan of the Star Wars',
       'seen 1 Star Wars films',
       'seen 2 Star Wars films', 'seen 3 Star Wars films', 'seen 4 Star Wars films', 'seen 5 Star Wars films', 'seen 6 Star Wars films',
       'rank the 1 Star Wars films',
       'rank the 2 Star Wars films', 'rank the 3 Star Wars films', 'rank the 4 Star Wars films', 'rank the 5 Star Wars films',
       'rank the 6 Star Wars films',
       'fan of the Star Trek',
       'Gender', 'Age', 'Education', 'Location (Census Region)')

In [78]:
df

,RespondentID,seen any of the 6 films,fan of the Star Wars,seen 1 Star Wars films,seen 2 Star Wars films,seen 3 Star Wars films,seen 4 Star Wars films,seen 5 Star Wars films,seen 6 Star Wars films,rank the 1 Star Wars films,rank the 2 Star Wars films,rank the 3 Star Wars films,rank the 4 Star Wars films,rank the 5 Star Wars films,rank the 6 Star Wars films,fan of the Star Trek,Gender,Age,Education,Location (Census Region)
1,3.292880e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,3,2,1,4,5,6,No,Male,18-29,High school degree,South Atlantic
2,3.292880e+09,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes,Male,18-29,Bachelor degree,West South Central
3,3.292765e+09,Yes,No,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,NaN,NaN,NaN,1,2,3,4,5,6,No,Male,18-29,High school degree,West North Central
4,3.292763e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,5,6,1,2,4,3,Yes,Male,18-29,Some college or Associate degree,West North Central
5,3.292731e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,5,4,6,2,1,3,No,Male,18-29,Some college or Associate degree,West North Central
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1182,3.288389e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,5,4,6,3,2,1,Yes,Female,18-29,Some college or Associate degree,East North Central
1183,3.288379e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,4,5,6,2,3,1,Yes,Female,30-44,Bachelor degree,Mountain
1184,3.288375e+09,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,Female,30-44,Bachelor degree,Middle Atlantic
1185,3.288373e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,4,3,6,5,2,1,Yes,Female,45-60,Some college or Associate degree,East North Central
1186,3.288373e+09,Yes,No,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,NaN,NaN,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,6,1,2,3,4,5,No,Female,> 60,Graduate degree,Pacific

In [79]:
#Заполнение столбцов с отсутствующими значениями с вопросом "смотрел ли вы фильм" т.к отсутсвие значения означает что не смотрел фильм
feature_seen_film_list = ['seen 1 Star Wars films',
       'seen 2 Star Wars films', 
       'seen 3 Star Wars films', 
       'seen 4 Star Wars films', 
       'seen 5 Star Wars films', 
       'seen 6 Star Wars films']
df[feature_seen_film_list] = df[feature_seen_film_list].fillna('No')

In [80]:
df = df.dropna()

# Задание 3. Столбцы с рейтингом перевести во float. Далее группируем данные по полу и получаем среднею оценку по каждому фильму. После чего получить список людей где мужчины оценили 4-6 часть выше среднего, а 1-3 часть ниже среднего. И женщины которые оценили все фильмы ниже среднего

In [82]:
feature_rank_list = ['rank the 1 Star Wars films',
       'rank the 2 Star Wars films', 
       'rank the 3 Star Wars films', 
       'rank the 4 Star Wars films', 
       'rank the 5 Star Wars films',
       'rank the 6 Star Wars films']
df.loc[:, feature_rank_list] = df[feature_rank_list].astype(float)

In [83]:
#df.isna().mean()
df

,RespondentID,seen any of the 6 films,fan of the Star Wars,seen 1 Star Wars films,seen 2 Star Wars films,seen 3 Star Wars films,seen 4 Star Wars films,seen 5 Star Wars films,seen 6 Star Wars films,rank the 1 Star Wars films,rank the 2 Star Wars films,rank the 3 Star Wars films,rank the 4 Star Wars films,rank the 5 Star Wars films,rank the 6 Star Wars films,fan of the Star Trek,Gender,Age,Education,Location (Census Region)
1,3.292880e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,3.0,2.0,1.0,4.0,5.0,6.0,No,Male,18-29,High school degree,South Atlantic
3,3.292765e+09,Yes,No,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,No,No,No,1.0,2.0,3.0,4.0,5.0,6.0,No,Male,18-29,High school degree,West North Central
4,3.292763e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,5.0,6.0,1.0,2.0,4.0,3.0,Yes,Male,18-29,Some college or Associate degree,West North Central
5,3.292731e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,5.0,4.0,6.0,2.0,1.0,3.0,No,Male,18-29,Some college or Associate degree,West North Central
6,3.292719e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,1.0,4.0,3.0,6.0,5.0,2.0,Yes,Male,18-29,Bachelor degree,Middle Atlantic
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1181,3.288390e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,3.0,4.0,5.0,2.0,1.0,6.0,No,Female,45-60,Some college or Associate degree,Pacific
1182,3.288389e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,5.0,4.0,6.0,3.0,2.0,1.0,Yes,Female,18-29,Some college or Associate degree,East North Central
1183,3.288379e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,4.0,5.0,6.0,2.0,3.0,1.0,Yes,Female,30-44,Bachelor degree,Mountain
1185,3.288373e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,4.0,3.0,6.0,5.0,2.0,1.0,Yes,Female,45-60,Some college or Associate degree,East North Central
1186,3.288373e+09,Yes,No,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,No,No,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,6.0,1.0,2.0,3.0,4.0,5.0,No,Female,> 60,Graduate degree,Pacific

In [84]:
df['seen 1 Star Wars films'][df['seen 1 Star Wars films'] != 'No'] = 'Yes'
df['seen 2 Star Wars films'][df['seen 2 Star Wars films'] != 'No'] = 'Yes'
df['seen 3 Star Wars films'][df['seen 3 Star Wars films'] != 'No'] = 'Yes'
df['seen 4 Star Wars films'][df['seen 4 Star Wars films'] != 'No'] = 'Yes'
df['seen 5 Star Wars films'][df['seen 5 Star Wars films'] != 'No'] = 'Yes'
df['seen 6 Star Wars films'][df['seen 6 Star Wars films'] != 'No'] = 'Yes'
df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:8870: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,RespondentID,seen any of the 6 films,fan of the Star Wars,seen 1 Star Wars films,seen 2 Star Wars films,seen 3 Star Wars films,seen 4 Star Wars films,seen 5 Star Wars films,seen 6 Star Wars films,rank the 1 Star Wars films,rank the 2 Star Wars films,rank the 3 Star Wars films,rank the 4 Star Wars films,rank the 5 Star Wars films,rank the 6 Star Wars films,fan of the Star Trek,Gender,Age,Education,Location (Census Region)
1,3.292880e+09,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,3.0,2.0,1.0,4.0,5.0,6.0,No,Male,18-29,High school degree,South Atlantic
3,3.292765e+09,Yes,No,Yes,Yes,Yes,No,No,No,1.0,2.0,3.0,4.0,5.0,6.0,No,Male,18-29,High school degree,West North Central
4,3.292763e+09,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,5.0,6.0,1.0,2.0,4.0,3.0,Yes,Male,18-29,Some college or Associate degree,West North Central
5,3.292731e+09,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,5.0,4.0,6.0,2.0,1.0,3.0,No,Male,18-29,Some college or Associate degree,West North Central
6,3.292719e+09,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,1.0,4.0,3.0,6.0,5.0,2.0,Yes,Male,18-29,Bachelor degree,Middle Atlantic
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1181,3.288390e+09,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,3.0,4.0,5.0,2.0,1.0,6.0,No,Female,45-60,Some college or Associate degree,Pacific
1182,3.288389e+09,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,5.0,4.0,6.0,3.0,2.0,1.0,Yes,Female,18-29,Some college or Associate degree,East North Central
1183,3.288379e+09,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,4.0,5.0,6.0,2.0,3.0,1.0,Yes,Female,30-44,Bachelor degree,Mountain
1185,3.288373e+09,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,4.0,3.0,6.0,5.0,2.0,1.0,Yes,Female,45-60,Some college or Associate degree,East North Central
1186,3.288373e+09,Yes,No,Yes,Yes,No,No,Yes,Yes,6.0,1.0,2.0,3.0,4.0,5.0,No,Female,> 60,Graduate degree,Pacific

In [85]:
first_request = df[['rank the 1 Star Wars films',
       'rank the 2 Star Wars films', 
       'rank the 3 Star Wars films', 
       'rank the 4 Star Wars films', 
       'rank the 5 Star Wars films',
       'rank the 6 Star Wars films', 'Gender']].groupby('Gender').mean()

first_request

,rank the 1 Star Wars films,rank the 2 Star Wars films,rank the 3 Star Wars films,rank the 4 Star Wars films,rank the 5 Star Wars films,rank the 6 Star Wars films
Gender,,,,,,
Female,3.423858,3.961929,4.428934,3.548223,2.565990,3.071066
Male,4.047847,4.236842,4.270335,3.000000,2.444976,3.000000

In [86]:
mean_rank_male = first_request[feature_rank_list].iloc[1]

In [87]:
mean_rank_women = first_request[feature_rank_list].iloc[0]

In [88]:
second_request = df[((df['Gender'] == 'Male') 
& (df['rank the 4 Star Wars films'] > mean_rank_male[3]) 
& (df['rank the 5 Star Wars films'] > mean_rank_male[4]) 
& (df['rank the 6 Star Wars films'] > mean_rank_male[5]) 
& (df['rank the 1 Star Wars films'] < mean_rank_male[0]) 
& (df['rank the 2 Star Wars films'] < mean_rank_male[1]) 
& (df['rank the 3 Star Wars films'] < mean_rank_male[2])) 
| ((df['Gender'] == 'Female') 
& (df['rank the 1 Star Wars films'] < mean_rank_women[0]) 
& (df['rank the 2 Star Wars films'] < mean_rank_women[1]) 
& (df['rank the 3 Star Wars films'] < mean_rank_women[2]) 
& (df['rank the 4 Star Wars films'] < mean_rank_women[3]) 
& (df['rank the 5 Star Wars films'] < mean_rank_women[4]) 
& (df['rank the 6 Star Wars films'] < mean_rank_women[5]))]

In [89]:
second_request.describe()

,RespondentID,rank the 1 Star Wars films,rank the 2 Star Wars films,rank the 3 Star Wars films,rank the 4 Star Wars films,rank the 5 Star Wars films,rank the 6 Star Wars films
count,4.900000e+01,49.000000,49.000000,49.000000,49.000000,49.000000,49.000000
mean,3.290405e+09,1.387755,1.979592,2.632653,4.265306,5.000000,5.734694
std,1.160927e+06,0.758736,0.478269,0.667516,0.670059,0.408248,0.569192
min,3.288396e+09,1.000000,1.000000,1.000000,4.000000,4.000000,4.000000
25%,3.289588e+09,1.000000,2.000000,2.000000,4.000000,5.000000,6.000000
50%,3.290500e+09,1.000000,2.000000,3.000000,4.000000,5.000000,6.000000
75%,3.290847e+09,1.000000,2.000000,3.000000,4.000000,5.000000,6.000000
max,3.292880e+09,3.000000,3.000000,3.000000,6.000000,6.000000,6.000000

In [90]:
second_request

,RespondentID,seen any of the 6 films,fan of the Star Wars,seen 1 Star Wars films,seen 2 Star Wars films,seen 3 Star Wars films,seen 4 Star Wars films,seen 5 Star Wars films,seen 6 Star Wars films,rank the 1 Star Wars films,rank the 2 Star Wars films,rank the 3 Star Wars films,rank the 4 Star Wars films,rank the 5 Star Wars films,rank the 6 Star Wars films,fan of the Star Trek,Gender,Age,Education,Location (Census Region)
1,3.292880e+09,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,3.0,2.0,1.0,4.0,5.0,6.0,No,Male,18-29,High school degree,South Atlantic
3,3.292765e+09,Yes,No,Yes,Yes,Yes,No,No,No,1.0,2.0,3.0,4.0,5.0,6.0,No,Male,18-29,High school degree,West North Central
10,3.292640e+09,Yes,No,No,Yes,No,No,No,No,1.0,2.0,3.0,4.0,5.0,6.0,No,Male,18-29,Some college or Associate degree,Pacific
18,3.292573e+09,Yes,Yes,Yes,Yes,Yes,No,No,Yes,1.0,2.0,3.0,4.0,5.0,6.0,No,Male,18-29,Some college or Associate degree,Middle Atlantic
37,3.292281e+09,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,3.0,2.0,1.0,4.0,6.0,5.0,No,Male,18-29,Bachelor degree,West North Central
62,3.292125e+09,Yes,Yes,No,No,No,Yes,No,No,1.0,2.0,3.0,4.0,5.0,6.0,Yes,Male,30-44,Graduate degree,Pacific
65,3.292050e+09,Yes,No,Yes,Yes,Yes,Yes,Yes,Yes,1.0,2.0,3.0,4.0,5.0,6.0,No,Male,18-29,Some college or Associate degree,Pacific
94,3.291603e+09,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,1.0,2.0,3.0,4.0,5.0,6.0,No,Male,30-44,High school degree,Pacific
100,3.291525e+09,Yes,No,Yes,Yes,Yes,No,No,No,1.0,2.0,3.0,4.0,5.0,6.0,No,Male,> 60,Bachelor degree,East North Central
166,3.291120e+09,Yes,No,Yes,Yes,Yes,Yes,Yes,Yes,3.0,1.0,2.0,4.0,5.0,6.0,No,Male,30-44,High school degree,Mountain
212,3.290976e+09,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,1.0,2.0,3.0,4.0,5.0,6.0,Yes,Male,> 60,High school degree,Mountain
228,3.290945e+09,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,3.0,1.0,2.0,4.0,5.0,6.0,Yes,Male,30-44,Some college or Associate degree,Pacific
281,3.290847e+09,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,1.0,2.0,3.0,4.0,5.0,6.0,No,Male,> 60,Some college or Associate degree,East North Central
303,3.290805e+09,Yes,No,Yes,Yes,Yes,Yes,Yes,Yes,1.0,2.0,3.0,4.0,5.0,6.0,No,Male,45-60,Graduate degree,South Atlantic
306,3.290799e+09,Yes,No,No,No,No,Yes,No,No,1.0,2.0,3.0,4.0,5.0,6.0,Yes,Male,45-60,Some college or Associate degree,Middle Atlantic
312,3.290786e+09,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,3.0,1.0,2.0,6.0,5.0,4.0,No,Male,18-29,Bachelor degree,Pacific
348,3.290734e+09,Yes,No,Yes,No,No,No,No,No,1.0,2.0,3.0,4.0,5.0,6.0,No,Male,45-60,Bachelor degree,Pacific
357,3.290715e+09,Yes,No,Yes,Yes,Yes,Yes,Yes,Yes,3.0,2.0,1.0,6.0,4.0,5.0,No,Male,30-44,High school degree,West South Central
382,3.290692e+09,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,1.0,2.0,3.0,4.0,5.0,6.0,No,Male,18-29,Graduate degree,West South Central
383,3.290689e+09,Yes,No,Yes,No,No,No,No,No,1.0,2.0,3.0,4.0,5.0,6.0,No,Male,45-60,High school degree,East North Central
396,3.290667e+09,Yes,No,Yes,No,No,No,No,No,1.0,2.0,3.0,4.0,5.0,6.0,No,Male,> 60,Some college or Associate degree,West North Central
417,3.290630e+09,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,1.0,2.0,3.0,4.0,5.0,6.0,No,Male,> 60,Some college or Associate degree,Mountain
425,3.290617e+09,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,2.0,3.0,1.0,4.0,5.0,6.0,Yes,Male,45-60,Graduate degree,South Atlantic
465,3.290512e+09,Yes,No,Yes,Yes,Yes,Yes,Yes,Yes,3.0,1.0,2.0,6.0,5.0,4.0,Yes,Male,> 60,Bachelor degree,South Atlantic
469,3.290500e+09,Yes,Yes,Yes,Yes,Yes,No,No,No,1.0,2.0,3.0,4.0,5.0,6.0,Yes,Male,45-60,Some college or Associate degree,South Atlantic
482,3.290462e+09,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,1.0,2.0,3.0,4.0,5.0,6.0,Yes,Male,> 60,Some college or Associate degree,South Atlantic
510,3.290375e+09,Yes,Yes,Yes,Yes,Yes,No,Yes,Yes,3.0,1.0,2.0,4.0,5.0,6.0,Yes,Male,> 60,Some college or Associate degree,New England
525,3.290337e+09,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,2.0,1.0,3.0,6.0,4.0,5.0,Yes,Male,> 60,Graduate degree,South Atlantic
596,3.290139e+09,Yes,Yes,Yes,Yes,Yes,No,Yes,Yes,1.0,2.0,3.0,6.0,4.0,5.0,Yes,Male,> 60,Graduate degree,Mountain
691,3.289915e+09,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,2.0,3.0,1.0,4.0,5.0,6.0,No,Male,18-29,Some college or Associate degree,Pacific
693,3.289914e+09,Yes,No,Yes,No,No,No,No,No,1.0,2.0,3.0,4.0,5.0,6.0,No,Male,> 60,Bachelor degree,Pacific
776,3.289736e+09,Yes,No,Yes,No,No,No,No,No,1.0,2.0,3.0,4.0,5.0,6.0,No,Male,> 60,Bachelor degree,Mountain
782,3.289722e+09,Yes,No,Yes,Yes,Yes,Yes,Yes,Yes,1.0,3.0,2.0,4.0,6.0,5.0,No,Male,> 60,Bachelor degree,West South Central
801,3.289674e+09,Yes,No,Yes,Yes,Yes,Yes,Yes,Yes,1.0,2.0,3.0,4.0,5.0,6.0,Yes,Male,45-60,Bachelor degree,East North Central
810,3.289646e+09,Yes,No,Yes,No,No,No,No,No,1.0,2.0,3.0,4.0,5.0,6.0,No,Male,> 60,High school degree,East North Central
816,3.289629e+09,Yes,No,Yes,No,No,No,No,No,1.0,2.0,3.0,4.0,5.0,6.0,No,Male,> 60,Bachelor degree,East North Central
833,3.289588e+09,Yes,No,No,No,No,No,Yes,No,1.0,2.0,3.0,4.0,6.0,5.0,No,Male,45-60,Graduate degree,West South Central
860,3.289529e+09,Yes,No,Yes,No,No,No,No,No,1.0,2.0,3.0,4.0,5.0,6.0,Yes,Male,45-60,Bachelor degree,South Atlantic
880,3.289481e+09,Yes,No,Yes,Yes,No,No,No,No,1.0,2.0,3.0,4.0,5.0,6.0,No,Male,> 60,Bachelor degree,South Atlantic
886,3.289463e+09,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,1.0,3.0,2.0,4.0,5.0,6.0,Yes,Male,45-60,Some college or Associate degree,East North Central
908,3.289398e+09,Yes,No,Yes,No,No,No,No,No,1.0,2.0,3.0,4.0,5.0,6.0,No,Male,45-60,Some college or Associate degree,South Atlantic
926,3.289322e+09,Yes,No,Yes,No,No,No,No,No,1.0,2.0,3.0,4.0,5.0,6.0,No,Male,> 60,Graduate degree,New England
939,3.289263e+09,Yes,No,Yes,Yes,Yes,Yes,Yes,Yes,1.0,3.0,2.0,6.0,4.0,5.0,No,Male,18-29,Some college or Associate degree,Pacific
949,3.289149e+09,Yes,No,Yes,No,No,No,No,No,1.0,2.0,3.0,4.0,5.0,6.0,No,Male,> 60,Graduate degree,West North Central
1015,3.288654e+09,Yes,Yes,No,Yes,No,No,Yes,Yes,1.0,2.0,3.0,5.0,6.0,4.0,Yes,Male,> 60,High school degree,West South Central
1029,3.288635e+09,Yes,No,Yes,Yes,Yes,Yes,No,No,1.0,2.0,3.0,4.0,5.0,6.0,Yes,Male,> 60,Some college or Associate degree,West South Central
1118,3.288504e+09,Yes,No,Yes,No,No,No,No,No,1.0,2.0,3.0,4.0,5.0,6.0,No,Male,45-60,High school degree,Pacific
1145,3.288454e+09,Yes,No,Yes,No,No,No,No,No,1.0,2.0,3.0,4.0,5.0,6.0,No,Male,> 60,Graduate degree,Middle Atlantic
1178,3.288396e+09,Yes,No,Yes,Yes,Yes,No,Yes,Yes,1.0,2.0,3.0,4.0,5.0,6.0,Yes,Male,> 60,Some college or Associate degree,Pacific

# Задание 4.  Посчитать сколько мужчин оценивших фильмы 4-6 выше среднего смотрели эти фильмы и сколько из них фанаты стар трека. Найти топ 10 женщин с самыми высокими оценками по всем фильмам

In [95]:
third_request = df[(df['Gender'] == 'Male') 
& (df['rank the 4 Star Wars films'] > mean_rank_male[3]) 
& (df['rank the 5 Star Wars films'] > mean_rank_male[4]) 
& (df['rank the 6 Star Wars films'] > mean_rank_male[5])
& (df['seen 4 Star Wars films'] == 'Yes')
& (df['seen 5 Star Wars films'] == 'Yes')
& (df['seen 6 Star Wars films'] == 'Yes')]['Gender'].aggregate('count')

In [96]:
third_request

24

In [97]:
fourth_request = df[(df['Gender'] == 'Male') 
& (df['rank the 4 Star Wars films'] > mean_rank_male[3]) 
& (df['rank the 5 Star Wars films'] > mean_rank_male[4]) 
& (df['rank the 6 Star Wars films'] > mean_rank_male[5])
& (df['seen 4 Star Wars films'] == 'Yes')
& (df['seen 5 Star Wars films'] == 'Yes')
& (df['seen 6 Star Wars films'] == 'Yes')
& (df['fan of the Star Trek'] == 'Yes')]['Gender'].aggregate('count')

In [98]:
fourth_request

9

In [99]:
fifth_request = df[df['Gender'] == 'Female'].sort_values(by = feature_rank_list, ascending=False)

In [100]:
fifth_request[:10]

,RespondentID,seen any of the 6 films,fan of the Star Wars,seen 1 Star Wars films,seen 2 Star Wars films,seen 3 Star Wars films,seen 4 Star Wars films,seen 5 Star Wars films,seen 6 Star Wars films,rank the 1 Star Wars films,rank the 2 Star Wars films,rank the 3 Star Wars films,rank the 4 Star Wars films,rank the 5 Star Wars films,rank the 6 Star Wars films,fan of the Star Trek,Gender,Age,Education,Location (Census Region)
636,3.290047e+09,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,6.0,5.0,4.0,3.0,2.0,1.0,Yes,Female,18-29,Bachelor degree,West South Central
726,3.289858e+09,Yes,Yes,No,No,Yes,Yes,Yes,Yes,6.0,5.0,4.0,3.0,2.0,1.0,No,Female,30-44,Graduate degree,West North Central
1058,3.288585e+09,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,6.0,5.0,4.0,3.0,2.0,1.0,Yes,Female,18-29,Bachelor degree,Mountain
1108,3.288513e+09,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,6.0,5.0,4.0,3.0,2.0,1.0,Yes,Female,18-29,Bachelor degree,East North Central
410,3.290651e+09,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,6.0,5.0,4.0,3.0,1.0,2.0,No,Female,18-29,Bachelor degree,Middle Atlantic
706,3.289897e+09,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,6.0,5.0,4.0,3.0,1.0,2.0,Yes,Female,30-44,Graduate degree,West South Central
133,3.291396e+09,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,6.0,5.0,4.0,2.0,3.0,1.0,No,Female,30-44,Bachelor degree,South Atlantic
687,3.289924e+09,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,6.0,5.0,4.0,2.0,1.0,3.0,Yes,Female,45-60,Graduate degree,Pacific
837,3.289574e+09,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,6.0,5.0,4.0,2.0,1.0,3.0,Yes,Female,45-60,Bachelor degree,West North Central
841,3.289564e+09,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,6.0,5.0,4.0,2.0,1.0,3.0,Yes,Female,30-44,Some college or Associate degree,East North Central